/* tituloom da pagina */
.titulo-pagina {
    text-align: center;
    font-style: italic;
    font-size: 3em;
    font-weight: 900;
    margin: 50px;
}

/* Formatação de indentifcador h1 */

.nome-propriedade {
    font-size: 2em;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;

}

/* formatção do indentificador h2 */

.valor-propriedade {
    font-size: 1.5em;
    font-weight: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* formatação dos blocos */

.bloco-1 {
    background-color: rgb(218, 194, 61);
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-radius: 15px;
    font-size: 40px;

}

.bloco-2 {
    background-color: rgb(179, 61, 61);
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-radius: 15px;
    font-size: 40px;

}

.bloco-3 {
    background-color: rgb(66, 152, 155);
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-radius: 15px;
    font-size: 40px;
}




/* formatação dos containers*/

.container-row {
    display: flex;
    flex-direction: row;
    padding: 40px;
    height: 500px;
    background-color: #8a0983;


}



.container-column {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 500px;
    background-color: #8a0983;


}

.container-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 40px;
    height: 500px;
    background-color: #8a0983;


}

.container-column-reverse {
    display: flex;
    flex-direction: column-reverse;
    padding: 40px;
    height: 500px;
    background-color: #8a0983;


}

.container-justify-center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 40px;
    height: 500px;
    background-color: #8a0983;


}

.container-justify-start {
    display: flex;
    justify-content: flex-start;
    padding: 16px;
    height: 500px;
    background-color: #8a0983;


}

.container-justify-end {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    height: 500px;
    background-color: #8a0983;


}

.container-justify-space-between {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 500px;
    background-color: #8a0983;


}

.container-justify-space-around {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    height: 500px;
    background-color: #8a0983;


}

.container-justify-space-evenly {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    height: 500px;
    background-color: #8a0983;


}

.container-align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 40px;
    height: 500px;
    background-color: #8a0983;

}

.container-align-items-flexstart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 40px;
    height: 500px;
    background-color: #8a0983;

}

.container-align-items-flexend {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    padding: 40px;
    height: 500px;
    background-color: #8a0983;

}